.card {
	margin: 1rem 10px;
	background: #fff;

	transition: transform 0.2s linear;
	cursor: pointer;

	max-width: 325px;
	&:hover {
		transform: scale(1.03);
	}
	&__image {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: transparent;
		color: #fff;

		&-img {
			min-height: 275px;
			display: block;
			width: 100%;
			height: 350px;
			object-fit: cover;
		}
	}

	&-link {
		text-decoration: none !important;
		color: #444444;
	}

	&__info {
		background: #fff;
		min-height: 80px;

		&-title {
			padding: 0 1rem;
			font-size: 16px;
			line-height: 16px;
			color: #444444;
		}
		&-price {
			padding: 0 1rem;
			font-size: 18px;
			line-height: 0px;
			span {
				color: #2dbedb;
			}
		}
	}
}

.card-other {
	width: 20%;
}

@media screen and (max-width: 1200px) {
	.card-other {
		width: 25%;
	}
}
@media screen and (max-width: 1000px) {
	.card {
		&__info {
			margin: 0 1rem;
		}
	}
	.card-other {
		width: 33%;
	}
}
@media screen and (max-width: 768px) {
	.card {
		&__info {
			margin: 0;
			min-height: 110px;
			height: auto;
		}
	}
	.card-other {
		width: 50%;
	}
}
@media screen and (max-width: 500px) {
	.card-other {
		width: 100%;
	}
}
