.info {
	display: flex;
	text-align: center;
	justify-content: space-between;

	margin-top: 30px;

	&-el {
		display: flex;
		flex-direction: column;
		text-decoration: none;
		width: 20%;
		max-width: 200px;

		a {
			text-decoration: none;
		}

		img {
			transition: transform 0.2s linear;
			margin-bottom: 10px;

			&:hover {
				transform: scale(1.07);
			}
		}

		p {
			color: #fff;
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: bold;
			font-size: 20px;
			line-height: 24px;
		}
	}
}

@media screen and (max-width: 1200px) {
	.info {
		flex-wrap: wrap;
		&-el {
			width: 33.3%;
			max-width: 33.3% !important;
		}
	}
}

@media screen and (max-width: 700px) {
	.info {
		flex-wrap: wrap;
		&-el {
			width: 50%;
		}
	}
}
