.product-header {
	width: 100%;
	height: 131px;
	display: flex;
	justify-content: space-between;
	background: #8e5937;

	&-group {
		width: 90%;
	}

	&__menu {
		display: flex;
		justify-content: flex-start;
		a {
			position: relative;

			font-family: 'Playfair Display';
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 27px;
			padding: 1rem 2rem;
			text-decoration: none;

			color: #ffffff;
			&:after {
				content: '';
				width: 0;
				height: 2px;
				background-color: #fff;

				position: absolute;
				bottom: 8px;
				left: 0;
				z-index: 1;

				transition: width 0.4s linear;
			}
			&:hover {
				&:after {
					width: 100%;
				}
			}
		}

		&-item {
		}
	}
}

.navP {
	height: 131px;
	width: 100%;
	background-color: #8e5937;
	position: relative;
	display: flex;
	justify-content: space-between;

	&-link {
		margin: auto;
		width: 10%;
	}
}

.navP > .navP-header {
	display: inline;
}

.navP > .navP-header {
	display: inline-block;
	font-size: 22px;
	color: #444444;
	padding: 10px 10px 10px 10px;
}

.navP > .navP-btn {
	display: none;
}

.navP > .navP-links {
	display: inline;
	float: left;
	font-size: 18px;
}

.navP > .navP-links > p {
	font-family: 'Playfair Display';
	font-style: normal;
	font-size: 20px;
	line-height: 27px;
	display: inline-block;
	padding: 16px;
	text-decoration: none;
	color: #444444;
	margin: 0 1rem;
	cursor: pointer;

	position: relative;
	&:after {
		content: '';
		width: 0;
		height: 2px;
		background-color: rgb(107, 107, 107);

		position: absolute;
		bottom: 8px;
		left: 0;
		z-index: 1;

		transition: width 0.4s linear;
	}
	&:hover {
		&:after {
			width: 100%;
		}
	}
}

.navP > #navP-check {
	display: none;
}

@media (max-width: 1280px) {
	.navP {
		background: #8e5937;
		color: #fff;
	}
	.navP > .navP-btn {
		display: inline-block;
		position: absolute;
		right: 0px;
		top: 0px;
	}
	.navP > .navP-btn > label {
		display: inline-block;
		width: 50px;
		height: 50px;
		padding: 13px;
	}

	.navP > .navP-btn > label > span {
		display: block;
		width: 25px;
		height: 10px;
		border-top: 2px solid #eee;
	}
	.navP > .navP-links {
		position: absolute;
		display: block;
		width: 100%;
		background-color: #8e5937;
		height: 0px;
		transition: all 0.3s ease-in;
		overflow-x: hidden;
		top: 131px;
		left: 0px;
		z-index: 99;
	}
	.navP > .navP-links > p {
		display: block;
		width: 100%;
		color: #fff;
	}
	.navP > #navP-check:not(:checked) ~ .navP-links {
		height: 0px;
	}
	.navP > #navP-check:checked ~ .navP-links {
		height: calc(100vh - 50px);
		overflow-y: auto;
	}
}
