.product {
	background: linear-gradient(
		0deg,
		rgba(219, 208, 200, 1) 70%,
		rgba(219, 208, 200, 1) 100%
	);
	min-height: 100vh;

	&__main {
		display: flex;
		justify-content: center;
		margin: auto;
	}
}
