.carousel {
	font-family: sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-left: 33px;

	img {
		max-height: 225px !important;
	}

	&-item {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #979797;
		color: #fff;

		font-size: 4em;
		max-height: 200px;
		&-top {
			margin: 0 35px 0 35px;
		}

		&-bot {
			margin: 35px;
		}
	}

	&-button {
		box-sizing: border-box;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
		font-size: 2.5rem;
		background-color: #d6baa4;
		color: #fff;
		border-radius: 50%;
		border: none;
		padding: 0;
		width: 60px;
		height: 60px;
		min-width: 60px;
		line-height: 50px;
		-webkit-align-self: center;
		-ms-flex-item-align: center;
		align-self: center;
		cursor: pointer;
		outline: none;

		&:hover {
			background-color: #b19681;
		}
	}
}

@media screen and (max-width: 1200px) {
	.carousel {
		margin: 0;
	}
}

.rec-carousel-item:focus {
	outline: none;
	box-shadow: inset 0 0 1px 0px violet;
}
