.fonts {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: normal;
}

.main {
	padding: 40px 33px;

	h4 {
		@extend .fonts;

		margin-top: 2rem;
		margin-left: 5rem;
		font-size: 30px;
		line-height: 40px;
		color: #ffffff;
	}

	&__top {
		display: flex;

		img {
			width: 555.7px;
			height: 415.44px;
		}
	}
}
