.inst {
	display: flex;
	flex-wrap: wrap;

	box-shadow: 0px 0px 25px 0px rgba(0, 255, 230, 1);
	border-radius: 75px;
	background: #fff;
	padding: 1.5rem;

	&__box {
		width: 100%;
		text-align: center;
	}
	&__el {
		width: 16.6666%;
		text-align: center;
		margin-bottom: 1rem;
		img {
			width: 16.6666%;

			box-shadow: 0 0 2px rgba(#000, 25%);
			cursor: pointer;
			transition: box-shadow, transform 0.2s linear;

			&:hover {
				box-shadow: 0 0 5px rgba(#000, 25%);
				transform: scale(1.03);
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.inst {
		flex-wrap: wrap;
		&__photo {
			width: 100%;
		}
		&__el {
			width: 25%;
			img {
				width: 100%;
			}
		}
	}
}
@media screen and (max-width: 700px) {
	.inst {
		flex-wrap: wrap;
		&__el {
			width: 50%;
			img {
				width: 100%;
			}
		}
	}
}
