.fonts {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: normal;
}
.home {
	&-img {
		width: 30%;
		max-height: 450px;
	}
	&__main {
		padding: 40px 33px;

		h4 {
			@extend .fonts;

			margin: 2rem 0;
			margin-left: 1rem;
			font-size: 30px;
			line-height: 40px;
			color: #ffffff;
		}

		&-top {
			display: flex;
		}
	}
}

@media screen and (max-width: 1200px) {
	.home {
		&__main {
			padding: 10px;
			h4 {
				margin: 1rem 0;
			}
		}
	}
}
